<%= link_to 'Back to country', country_path(@city.country_id) %>
<p>
  <strong>Id:</strong>
  <%= @city.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p><strong>Planes:</strong></p>
<%= link_to 'New plane', new_city_plane_path(@city) %>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  <% @planes.each do |plane| %>
    <tr>
      <td>
        <%= plane.id %>
      </td>
      <td>
        <%= plane.name %>
      </td>
      <td>
        <%= link_to 'Show', plane_path(plane) %>
      </td>
      <td>
        <%= link_to 'Edit', edit_plane_path(plane) %>
      </td>
      <td>
        <%= link_to 'Destroy', plane_path(plane), method: :delete,
        data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>